.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 90%;

 
}

.aboutme__image img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}

.aboutme__info{
 width: 500px;
 padding: 10px;
}
.aboutme__info p{
  padding-top:8px;
  
}

.aboutme__links{
  padding-left: 10px;
  font-size: 2rem;

}
.aboutme__links a:hover{
  transition: all .1s ease-in-out;
  transform: scale(1.05);
}

.aboutme__links .links{
  font-size: 2rem;
  color: black;
}
.aboutme__links .links:hover{
  transition: all .1s ease-in-out;
  transform: scale(1.09);
}
@media (max-width: 415px) {
  .aboutme__info{
    width: 100%;
    padding: 10px;
   
   }

   .aboutme__info p{
  padding: 12px;
  
}
}