.container{
  
  height: 100vh;
  
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.aboutme__image img{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}

.aboutme__info{
 
}
