.portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    margin: 0 auto;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
    flex: 25%;
    max-width: 30%;
  padding: 10px 5px;

  
}
.project__title{
    background: url('../images/google-mern.png') ;
    height: 175px;

}

@media (max-width: 800px) {
    .project {
      flex: 100%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .project {
      flex: 100%;
      max-width: 100%;
    }
  }