.portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 25%;
    max-width: 30%;
    padding: 10px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin:5px;
  
}
.project__title{
    
    height: 175px;

}

.project__specification{
    padding: 10px 9px;
    border-bottom: 1px solid lightgrey;
}

.project__links{
    padding-top: 6px;
}

@media (max-width: 800px) {
    .project {
      flex: 50%;
      max-width: 80%;
      margin-top: 12px;
    }
  }
  
  @media (max-width: 375px) {
    .project {
      flex: 100%;
      max-width: 90%;
   
    }
  }
  
 