.portfolio{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    height: 100%;
    justify-content: center;
    
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 30%;
    
    padding: 10px 5px;
    border-radius: 5px;
    margin:5px;   
  
}
.project:hover{
  transform: scale(1.02);
  transition: all .2s ease-in-out;
  border: .5px solid lightgrey;
}

.project__image img{
  max-width: 100%;
}
.project__title{
    
    height: 175px;

}

.project__specification{
    padding: 10px 9px;
    border-bottom: 1px solid lightgrey;
}

.project__links{
    padding-top: 6px;
    width: 100%;
    
}

.project__links button{
  margin-left: 6px;
  padding: 10px 18px;
  border:none;
  width: 100%;
  color:white;
  font-weight: bold;
  background: rgb(var(--primary));
  transition: all .25s ease;
  cursor: pointer;

}

.project__links button:hover{
  transform: translate(0, -3px);
  box-shadow: 0 10px 30px 0 rgb(var(--primary), .4);
}



@media (max-width: 800px) {
    .project {
     flex: 1 46%;
    }
  }

  
  @media (max-width: 375px) {
    .project {
      flex-direction: column;
      
   
    }
    
  }
  
 